/* AuthForm.css */
.auth-form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  /* background-color:#e5d0ff ; */
  background-color: #bf8bff;
  border-radius: 20px;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  width: 90%;
  max-width: 800px;
  /* box-shadow: 0px 4px 8px rgba(191, 139, 255, 0.2), 0px 6px 20px rgba(191, 139, 255, 0.3); */
  box-shadow: 2px 8px 10px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.1); /* Refined box shadow */
  overflow-y: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #f6fafe;
}

.auth-form-container input,
.auth-form-container textarea,
.auth-form-container button {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  box-sizing: border-box; /* Ensure padding and border are included in width */
}

.auth-form-container button {
  background-color: #f6fafe;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 400;
  font-size: calc(0.4vw + 14px);
  transition: border 0.3s ease-in-out;
  border-color: #f6fafe;
  transition: padding 0.3s ease-in-out;
}

.auth-form-container button:hover {
  border: 2.5px solid #dabcff;
  padding: 10px;
}

.candidates-list {
  margin-top: 20px;
  border-top: 2px solid white;
}

.candidate {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
.browse {
  border: 2px solid #f6fafe;
  border-radius: 10px;
  background-color: #f6fafe;
}
input {
  border-radius: 10px;
  border: 5px solid #f6fafe;
  border-color: #f6fafe;
}
textarea {
  border-radius: 10px;
  border: 5px solid #f6fafe;
}

@media (max-width: 600px) {
  .auth-form-container {
    width: 90%;
  }
  @media (max-width: 768px) {
    .auth-form-container {
      width: 90%;
    }
  }
}
